html, body
  background-color: #E48FFF
  color: #BE5ACF
  font-family: Verdana

a
  color: #7FEAFF
  text-decoration: none

a:hover
  color: #00D4FF

h1
  position: absolute
  top: .2em
  left: .2em
  font-size: 3em

#menu
  width: 100%
  background-color: #57F
  border-bottom: .3em solid aqua
  text-align: center
  li
    margin-left: 1em
    display: inline
    list-style: none
    line-height: 4em

#content
  padding-bottom: 1em
  .more 
    width: 780px
    margin: 0 auto
    padding: 10px
    text-align: center
    background-color: #a1c
    -moz-border-radius: .8em
    -webkit-border-radius: .8em
    &:hover
      background-color: #71c
    a
      display: block
    &.loading
      background-image: url(/images/loading.gif)
      background-repeat: no-repeat
      background-position: 70% center

  ul.twits, ul.twit
    width: 800px
    margin: 0 auto
    li:hover
      background-color: #71c
    li
      position: relative
      min-height: 50px
      margin: 1em 0
      padding: .8em
      background-color: #a1c

      -moz-border-radius: .8em
      -webkit-border-radius: .8em
      a
        margin-right: .15em
      img
        position: absolute
        border: 1px solid pink
        overflow: hidden
      p, div.rating, .actions
        margin-left: 55px
      p
        color: #BFFFFE
      span.date
        color: #AAA

#footer
  clear: both
  text-align: center
