body
  background-color: #C1B
  color: #0F0
  font-family: Helvetica

a
  color: #cc2
  text-decoration: none

h1
  position: absolute
  top: .2em
  left: .2em
  font-size: 3em

#menu
  width: 100%
  background-color: magenta
  border-bottom: .3em solid aqua
  text-align: center
  li
    line-height: 4em
    list-style: none
    display: inline
    vertical-align: baseline

a:hover
  color: #ccc

ul.twits
  width: 800px
  margin: 0 auto
  li
    margin: 1em 0
    a
      margin-right: .5em
    img
      border: 1px solid pink
      margin: .2em
    img, a, p
      float: left
    span, .actions
      clear: both
      a
        float: none
