html, body {
  background-color: #C1B;
  color: #0F0;
  font-family: Verdana; }

a {
  color: #cc2;
  text-decoration: none; }

h1 {
  position: absolute;
  top: .2em;
  left: .2em;
  font-size: 3em; }

#menu {
  width: 100%;
  background-color: #57F;
  border-bottom: .3em solid aqua;
  text-align: center; }
  #menu li {
    display: inline;
    list-style: none;
    line-height: 4em; }

a:hover {
  color: #ccc; }

#content {
  padding-bottom: 1em; }
  #content ul.twits {
    width: 800px;
    margin: 0 auto; }
    #content ul.twits li:hover {
      background-color: #71c; }
    #content ul.twits li {
      position: relative;
      min-height: 50px;
      margin: 1em 0;
      padding: .8em;
      background-color: #a1c;
      -moz-border-radius: .8em;
      -webkit-border-radius: .8em; }
      #content ul.twits li a {
        margin-right: .15em; }
      #content ul.twits li img {
        position: absolute;
        border: 1px solid pink; }
      #content ul.twits li p, #content ul.twits li div.rating, #content ul.twits li .actions {
        margin-left: 55px; }
      #content ul.twits li p {
        color: #3FA; }
      #content ul.twits li span.date {
        color: #AAA; }

#footer {
  clear: both;
  text-align: center; }
